In [ ]:
import pandas as pd
import glob

# 데이터 파일 경로 패턴
file_pattern = '../data/stock_sentiment_*.csv'

# 모든 파일 경로 가져오기
file_paths = glob.glob(file_pattern)

# 각 파일을 데이터프레임으로 로드
dfs = {}
for file_path in file_paths:
    # 파일명에서 종목코드 추출
    stock_code = file_path.split('_')[-1].split('.')[0]
    # 데이터프레임으로 로드
    dfs[stock_code] = pd.read_csv(file_path, encoding='utf-8')

# 각 데이터프레임 확인
for code, df in dfs.items():
    print(f"\n종목코드 {code} 데이터:")
    print(f"행 수: {len(df)}")
    print("\n처음 5개 행:")

종목코드 006400 데이터:
행 수: 13274

처음 5개 행:

,일자,시각,제목,본문,댓글 수,닉네임,조회수,공감수,비공감수
0,2025.04.27,16:40,Lg디스플레이,보는듯,0,fk******,1,0,0
1,2025.04.27,16:06,sdi만 적자전환,ㅋㅋㅋㅋㅋㅋㅋ 시불.....영업손실 어마무시하넹....,0,ctac****,29,1,1
2,2025.04.27,15:57,나트륨이온배터리 관련주들 다 날아가고있다...,"""CATL이 공개한 선싱 2세대 배터리는 주행 거리가 800㎞에 이르며 5분간 충전...",0,maxc****,43,0,2
3,2025.04.27,15:47,삼성SDI -> 삼성KAIST로 바꿔라!,이미 중국은 상용화까지 다 했구만(오토바이용 나트륨배터리) 너희는 먼 연구만 주구장...,0,maxc****,34,0,1
4,2025.04.27,14:58,십만원 깨지겠다,중국 기술 무섭네,0,cgj1****,44,2,2

종목코드 009830 데이터:
행 수: 5557

처음 5개 행:

,일자,시각,제목,본문,댓글 수,닉네임,조회수,공감수,비공감수,제목_감성,본문_감성
0,2025.04.27,16:39,내일 폭등!! 한화솔루션 태양광 호재 전...,한화솔루션 및 태양광 에너지 주가 폭등이유!!\n트럼프 관세 정책 태양광 관세 철폐...,0,xord****,5,0,0,0.427807,0.348029
1,2025.04.27,16:36,25일 pre장에서 팔고 머리 한대 세게...,24(목) 종가 27100원\n25(금) 8시 시작하여 밀고 당기고 씨름을 하는\n...,0,ty******,17,0,0,0.000462,0.066548
2,2025.04.27,16:08,per1,50% 올리고도 고작 per1이다 조정? 당연히 있겠지 휩쓸려 털면 바보고...대기...,1,rmsq****,107,2,1,0.016130,0.000439
3,2025.04.27,15:59,내가 주포면...,금욜 개인들 많이 나갔으니\n\n그냥 훈장달아도\n\n쭉 올릴 것같은데\n\n개인 ...,0,newp****,72,2,0,0.000533,0.000359
4,2025.04.27,15:45,애초에 단기로 볼생각도 없었음,솔라허브 가동 모멘텀 남아서\n\n하반기까지는 기다려야함 (올해 3분기가 시작점)\...,0,love****,96,4,2,0.017083,0.394535

종목코드 064760 데이터:
행 수: 64

처음 5개 행:

,일자,시각,제목,본문,댓글 수,닉네임,조회수,공감수,비공감수
0,2025.04.26,05:12,나만월요일날 상한가칠거같냐?,흠,0,hell****,279,0,0
1,2025.04.26,07:01,나만월요일날 상한가칠거같냐?,응,0,jwh7****,253,0,0
2,2025.04.26,17:39,나만월요일날 상한가칠거같냐?,응 투,0,8525****,164,0,0
3,2025.04.25,16:55,매출+32%783억.이익+35%234억....,티씨케이(064760)는 올해 1분기 개별기준 영업이익이 전년 동기 대비 35.14...,1,ktt1****,504,1,0
4,2025.04.25,09:17,오전11시전후 실적발표??,왜 이케 늦어..,3,kodi****,608,0,0

종목코드 186230 데이터:
행 수: 173

처음 5개 행:

,일자,시각,제목,본문,댓글 수,닉네임,조회수,공감수,비공감수
0,2025.04.27,08:25,신용이증가하니,그냥 개떡락하네 신용 반대매매 나올때까지 떨어진다 신용 쓰지마라 신용불량자 ?래?ㅋ...,0,mamm****,79,0,0
1,2025.04.25,18:58,추천 10개만 줘봐라.,"추천10개 이상, 비추 3개 미만 나오면\n내 앞으로 뻘글 안쓸께",3,xlit****,157,0,5
2,2025.04.25,15:12,인생 개잡주,살다살다 이런 개잡주는 처음이네,1,hagu****,135,0,1
3,2025.04.25,12:50,시원하게 내려왔네,참나,1,qogu****,174,1,0
4,2025.04.25,12:02,아직 한발 남았다,지금 가격은 괜찮아 보인다.. 진득히 좀 갖고 있을 사람이면 매수 추천한다..\n시...,2,fg******,255,0,2

종목코드 461300 데이터:
행 수: 467

처음 5개 행:

,일자,시각,제목,본문,댓글 수,닉네임,조회수,공감수,비공감수
0,2025.04.27,10:42,형은 전업투자자다!!,세력 끄나풀은 누군지 아니?\nmhme\n새벽 4시에 뉴스찌라시하나 토론방에 올렸는...,0,mimi****,72,1,0
1,2025.04.27,10:05,배당 6.3프로가 개꿀인데,거의 누가보면 증권주인줄\n\n대주주 지분매각 이슈가 에듀때도 있어서 걸리기는 하는...,0,mo******,78,0,0
2,2025.04.27,07:58,한덕수 불출마리스크 주의,이렇게 잘가다 비상계엄책임있는 덕수불출마시 알지?,0,mhme****,84,0,0
3,2025.04.27,03:32,곧 대주주 매도 공시나오냐,슬슬 보호예수해제 물량 나와야지,0,rnlt****,108,0,0
4,2025.04.26,20:03,16일 부터 신용이 많이 들어왔는데 ~,공매도가 없었던 것도 아니고 !!\n지금 그 가격을 계속 지지하고 있거든 !!\n개...,0,mimi****,183,0,1